site_name: FTPGrab
site_description: Grab your files periodically from a remote FTP or SFTP server easily
site_author: CrazyMax
site_url: https://crazymax.dev/ftpgrab/
edit_uri: edit/master/docs/
docs_dir: docs

repo_name: crazy-max/ftpgrab
repo_url: https://github.com/crazy-max/ftpgrab

extra:
  seo:
    google: Kscpetr5E2zNDM0pqz-0xhtPZ77oY2oAS6Lid6yEUUM
    bing: D188E0BEC1AB6E7C1E0194BFC35D0033
  #alexa:
  #yandex:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/crazy-max/ftpgrab
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/crazyws
  plausible:
    server: plausible.re4per.com
    domain: crazymax.dev/ftpgrab

theme:
    name: material
    custom_dir: docs/_overrides
    language: en
    features:
      - search.highlight
      - search.share
      - search.suggest
    palette:
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: red
        accent: red
        toggle:
          icon: material/weather-night
          name: Switch to dark mode
      - media: "(prefers-color-scheme: dark)"
        scheme: slate
        primary: red
        accent: red
        toggle:
          icon: material/weather-sunny
          name: Switch to light mode
    font:
      text: Roboto
      code: Roboto Mono
    logo: assets/logo.png
    favicon: assets/favicon.ico
    include_search_page: false
    search_index_only: true

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - markdown_include.include:
      base_path: docs
  - meta
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true

plugins:
  - exclude:
      glob:
        - "_overrides/*"
  - git-revision-date-localized:
      type: iso_datetime
      enable_creation_date: true
      fallback_to_build_date: true
  - macros
  - search:
      lang:
        - en

nav:
  - Home: index.md
  - Installation:
    - With Docker: install/docker.md
    - From binary: install/binary.md
    - Linux service: install/linux-service.md
  - Usage:
    - Command line: usage/cli.md
    - Basic example: usage/basic-example.md
  - Configuration:
    - Overview: config/index.md
    - .db: config/db.md
    - .server:
      - .ftp: config/server/ftp.md
      - .sftp: config/server/sftp.md
    - .download: config/download.md
    - .notif:
      - .mail: config/notif/mail.md
      - .script: config/notif/script.md
      - .slack: config/notif/slack.md
      - .webhook: config/notif/webhook.md
  - FAQ: faq.md
  - Changelog: changelog.md
  - Migration:
    - FTPGrab v6 to v7: migration/v6-to-v7.md
    - FTPGrab v5.2 to v6.0: migration/v5.2-to-v6.0.md
    - FTPGrab v5.1 to v5.2: migration/v5.1-to-v5.2.md
    - FTPGrab v5.0 to v5.1: migration/v5.0-to-v5.1.md
    - FTPGrab v5.0: migration/v5.0.md
    - FTPGrab v4.1 to v4.2: migration/v4.1-to-v4.2.md
    - FTPGrab v4.0 to v4.1: migration/v4.0-to-v4.1.md
    - FTPGrab v3 to v4: migration/v3-to-v4.md
  - Reporting an issue: reporting-issue.md
  - Contributing: contributing.md
  - Donate: donate.md
