[Unit]
Description=FTPGrab
Documentation=https://github.com/ftpgrab/ftpgrab
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=ftpgrab
Group=ftpgrab
ExecStart=/usr/local/bin/ftpgrab --config /etc/ftpgrab/ftpgrab.yml --log-level info
Restart=always
Environment=FTPGRAB_DB=/var/lib/ftpgrab/ftpgrab.db

[Install]
WantedBy=multi-user.target
